.signup-container h1 {
  text-align: center;
}

.signUp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  gap: 13px;
}

.signup-container input,
button {
  width: 40%;
  border: none;
  border-radius: 10px;
  height: 40px;
}

.signup-container input {
  text-align: center;
  background-color: rgb(231, 235, 241);
}

.signupBtn {
  background-color: rgb(88, 94, 101);
  color: white;
  font-weight: 600;
}

.error-message {
  color: #a92626;
  text-align: center;
  font-weight: 600;
  font-size: 19px;
  font-family: system-ui;
}

.google {
  background-color: rgb(153, 13, 13);
}