.header {
  padding: 0 10%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  align-items: center;
  background-color: rgb(171, 179, 188);
}

.header h2 {
  margin: 0;
}

ul {
  display: flex;
  gap: 20px;
  font-size: 20px;
  list-style-type: none;
}

.header-link {
  color: black;
  text-decoration: none;
}

li {
  font-family: sans-serif;
  font-size: 17px;
}